@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

 *:not(.fa){
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    color: #292929;
}
.blue {
    background-color: #00205b;
    color: #fff;
    border-bottom: 1px solid #00205b;
    font-weight: bold;
}
.black {
    background-color: #00205b;
    color: #fff;
    border-bottom: 1px solid #00205b;
    font-weight: bold;
}
.line {
    border-bottom: 1px solid #00205b;
}
.grey {
    background-color: #dddddd;
    color: #000;
    border-bottom: 1px solid #00205b;
}
.head-name {
	font-size: 20px;
	font-weight: 400;
}

.head-strong {
	font-size: 25px;
	font-weight: 700;
}

.head-strong-start {
    color: #00205b;
	font-size: 25px;
	font-weight: 700;
}

ul, ol {
     margin-left:3em;
}
ul li{
	font-size: 8px;
}

.details-box {
	font-size: 20px;
}

.boxed {
    border: 1px solid grey;
}

.reward {
    margin-top: -30px;
    margin-bottom: -30px;
}


tr.is-total td{
    background-color: #c7dbfc;
  }

.br {
    display: block;
    margin-bottom: 0em;
}

.brsmall {
    display: block;
    margin-bottom: -.2em;
}

.brxsmall {
    display: block;
    margin-bottom: -.4em;
}

thead.blue {
    background-color: #00205b;
    color: #fff;
  }

.fade-blue1 {
    background-color: #00205b;
    color: #fff;
  }

.fade-blue2 {
    background-color: #9CC3D5;
    color: #fff;
  }

.warning {
    color : #AD3232
}
.approval {
    color : #198C19;
    font-size: 16px;
    font-weight: 400;
}

.doc-name {
    font-size: 16px;
    font-weight: 400;
}

.header {
    font-size: 16px;
    font-weight: 700;
}

.header1 > thead > tr {
    background-color: #000;

}

.header1 > thead > tr > td {
    text-align: center;

}

.header1 > thead > tr > td > span{
    font-size: 20px;
    font-weight: 700;
    color : #fff
}

.header1 > tbody > tr > td {
    text-align: center;
    font-size: 16px;
    font-weight: 400;

}


.header2 {
    width: 100%;
    border: 1px solid black;
}

.header2 > thead > tr > th {
    padding: 3px;
    border: 1px solid black;
    font-size: 14px;
}
.header2 > thead > tr > td {
    font-size: 14px;
}
.header2 > tbody > tr > td{
    font-size: 14px;
}
.header2 > thead > tr > td > span{
    font-size: 14px;
}
.header2 > thead > tr > th > span{
    font-size: 14px;
}
.header2 > tbody > tr > td > span{
    font-size: 14px;
}

.header2 > thead > tr > td > strong{
    font-size: 14px;
}
.header2 > thead > tr > th > strong{
    font-size: 14px;
}
.header2 > tbody > tr > td > strong{
    font-size: 14px;
}

.header2 > tbody > tr > td {
    padding: 3px;
    border: 1px solid black;
    font-size: 14px;
}


.header2 {
    font-weight: 700;
}

.head1 {
    font-size: 14px;
    font-weight: 700;
}

.tab-space {
    tab-size: 16;
}

.footer {
    font-size: 12px;
    border-top: none;
}
.line2 {
    border-top: 1px solid rgb(0, 0, 0);
}

.text-right {
    text-align: right;
}

.bottom-content {
}